.SearchBoxWrapper{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 0.75em;
    margin-bottom: 1em;
    padding-right: 1em;
    border-radius: 1.9em;
    border: 0.0625em solid #dfe1e5;
    display: flex;
    overflow: hidden;
    max-height:"1em";}

.SearchBoxInputStyle{
    background-color: transparent;
    flex:1;
    height: 2.75em;
    font-size: 1.5rem;
    border: 0em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    outline: none;
}

.searchIcon{
    color:rgb(154, 160, 166);
    font-size: 1.5rem;
  }

.searchIcon:hover{
    cursor: pointer;
  }
  