.content-wrapper{
  display: flex;
  flex-direction: column;
  height:100%;
  width: 100%;
  flex:1
}

.content-row-0, .content-row-1, .content-row-2{
  display: flex;
  flex-direction: row;
  flex:1;
  width:100%;
}

.content-row-0{
  flex:2;
}
.content-row-0-main{
  flex:2;
}
.content-row-0-column{
  display: flex;
  flex-direction: column;
  flex:1;
}
.content-row-0-column-0, .content-row-0-column-1{
  flex:1
}

.content-row-1, .content-row-2{
  flex:1;
}
.content-row-1-0, .content-row-1-1, .content-row-1-2{
  flex:1
}

.content-row-2-0, .content-row-2-1, .content-row-1-column{
  flex:1
}

.content-row-1-column{
  display: flex;
  flex-direction: column;
}

.content-row-1-column-0,.content-row-1-column-1{
  flex:1
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}
.lds-ripple div {

  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
