.BiasListElement-wrapper{
  width: 100%;
  border-radius: 6px;
  background-color: white;
  padding-left: 8px;
  padding-right: 8px;
  height:40px;
  display: flex;
  direction: row;
  align-items: center;
  margin-bottom: 16px;
  transition: box-shadow .3s;
  /*background-color: rgb(229, 229, 229);*/
  border: 1px;
  border-color: rgb(229, 229, 229);
  border-style: solid;
}
.newsIcon{
  margin-right: 8px;
}

.newsName{
  flex:1;
  text-align: left;
}

.newsRadio{
  flex:1;
  text-align: right;
}

.BiasListElement-wrapper:hover {
  box-shadow: 0 0 5px rgba(33,33,33,.2);
}
