.storyWrapper{
  border-bottom-width: 0.125em;
  border-bottom-style: solid;
  border-bottom-color: #dfe1e5;
  padding: 1em 1em 0em 1em;
  flex:1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display:flex;
  flex-direction: column;
  cursor: pointer;
}

.sourceDateWrapper{
  display:flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: flex-end;
}

.textImageWrapper{
  display: flex;
  flex:1;
}

.details{
  color: #c6c8cc;
  font-style: italic;
  margin-top: 0.5em;
}

.newsoutlet:hover{
  text-decoration: underline;
  cursor: pointer;
}
#title{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /*restrict to max 3 lines*/
  -webkit-line-clamp: 3;
  overflow: hidden;

  
  
}
#article{
  overflow: hidden;
  text-overflow: ellipsis;
}

.text{
  flex:1;
  overflow:hidden;
  justify-content: start;
  
}


.fill{
  display: flex;
  text-align: center;
  margin: 0.5em;
  
}

.fade {
  animation: fade-in-keyframes 3s;
}
@keyframes fade-in-keyframes {
  from {opacity: 0}
  to {opacity: 1}
}
