.storyWrapper{
  /* border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #dfe1e5; */
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #dfe1e5;
  padding:16px;
  flex:1;
  width:100%;
  height:100%;
}

.sourceDateWrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: "red";
}

.details{
  color: #c6c8cc;
  font-style: italic;
}

#summary{
  max-height: 75%;
}

#title{
  max-height: 15%
}
.fill {
    padding-left:  8px;
    flex:1;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.text{
  flex:1;
  overflow: auto;
}

.textImageWrapper{
  display: flex;
  flex-direction: row;
}
