@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


.story-wrapper{
  margin:8px;
  cursor: pointer;
}

.story-image{

}

.story-title{
  font-family: 'Playfair Display', serif;
  font-weight: 700;

}

.story-desc{

}
