@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


.story-wrapper{
  margin:8px;
  cursor: pointer;
}

.story-image{

}

.story-title{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.story-desc{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 20px;     /* fallback */
  max-height: 80px;      /* fallback */
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}
