@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


.search-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:1;
  margin-bottom: 16px;
}

.search-title{
  text-align: center;

  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 200;
  margin-top: 24px;
  margin-bottom:  24px;
}
.search-icon-wrap {
  display: flex;
  flex-direction: row;
  height:60px;
  transition: box-shadow .3s;
  width: 80%;
  align-items: center;
 justify-content: center;
 box-shadow: 0 0 2px rgba(33,33,33,.2);
}

.search-with-icon {
  border: none;
  flex: 1;
  margin-right: 20px;

}

.search-icon, .input-with-icon {
  padding-left: 20px;

}

.search-icon-wrap:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
