@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.slider-wrapper{
  margin-top:  8px;
  margin-bottom:  8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

.political-name{
  flex:1;
}

.slider-title{
  text-align: center;

  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 200;

}

.slider-complete{
  display: flex;
  flex-direction: column;
  flex:1;
  justify-content: center;
  align-items: center;

}

.slider-bias{
  position: relative;
  margin-bottom: -30px;
  margin-right: -34px;
}

.verticalLine{
  border-left: 3px solid black;
  height: 20px;
}

.politicalBiasLabel{
  margin-left: -32px;
  font-weight: bold;
}
