.App,
html,
body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: row;
}

.Main{
  display: flex;
  flex-direction: column;
  flex:2;
}

.Padding {
  flex: 1
}

.Header{
flex:1;
}

.Content {
  margin-top: 8px;
  flex: 2;
}
