
#parent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.child {
  height: 30rem;
  
  flex: 1;
  min-width: 33.3%;
  border: 5px solid white;
}

@media (max-width: 700px) {
  .child {
    min-width: 50%;
  }
}


.components{
  width:50rem;
  max-width: 100%;
  padding-left: 16px;
  padding-righ: 16px;
}
