
/*Playfair Display as Title Font*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');
/*font-family: 'Playfair Display', serif;*/

/*Robot as main text*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Times New Roman", Times, serif;

}

h3 {
  font-family: "Times New Roman", Times, serif;
}
.wrapper,
html,#root,
body {
  height: 100%;
  margin: 0;
  min-width: 34.7rem
}

a { color: inherit; } 
